.section__home
	height: 100%
	display: block
	
	h1
		font-size: 40px
		line-height: 1.2
		margin: 0
		+tablet-l
			font-size: 30px
		+tablet-s
			font-size: 24px
		+phone-xl
			font-size: 22px
		+phone-l
			font-size: 18px
		+phone-s
			font-size: 16px
		strong
			display: block
			font-size: 48px
			font-weight: 700
			+tablet-l
				font-size: 38px
			+tablet-s
				font-size: 30px
			+phone-xl
				font-size: 28px
			+phone-l
				font-size: 24px
			+phone-s
				font-size: 22px

	h2
		font-size: 30px
		line-height: 1.2
		margin: 0
		+desktop-s
			font-size: 24px
		+tablet-l
			font-size: 20px
		+tablet-m
			height: 48px
			overflow: hidden
		+tablet-s
			font-size: 18px
			height: 43px
		+phone-xl
			font-size: 16px
			height: 38px
		+phone-l
			font-size: 14px
			height: 34px


//BEGIN owl carousel
.owl-carousel
	position: relative
	&:hover
		.owl-prev,
		.owl-next
			opacity: 1

//nav
.owl-prev,
.owl-next
	opacity: 0
	position: absolute
	top: 230px
	text-indent: -9999px
	width: 40px
	height: 40px
	border-radius: 5px
	background-color: $navy
	+transition( all 0.4s ease )
	+desktop-s
		top: 200px
	+tablet-m
		opacity: 1
		top: 0
		bottom: 0
		margin: auto
	+phone-l
		width: 30px
		height: 30px

	&:hover
		background-color: $orange
	&:after
		content: ''
		display: block
		position: absolute
		background-image: url('assets/img/slider-navigation-arrow.png')
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		width: 18px
		height: 18px
		top: 12px
		left: 12px
		+phone-l
			width: 12px
			height: 12px
			top: 10px
			left: 10px

.owl-prev
	left: 30px
	+tablet-l
		left: 20px

.owl-next
	right: 30px
	+tablet-l
		right: 20px
	&:after
		transform: rotate(180deg)
		left: 10px
		+phone-l
			left: 8px
//END owl carousel


//arrow-down
a.arrow-down
	position: absolute
	bottom: 50px
	left: 50%
	margin-left: -20px
	display: inline-block
	background-image: url('assets/img/arrow-down.png')
	background-size: cover
	height: 40px
	width: 40px
	z-index: 999
	+desktop-s
		height: 30px
		width: 30px
		margin-left: -15px
	+tablet-l
		bottom: 30px
	+phone-xl
		width: 25px
		height: 25px