.sidebar
	position: fixed
	left: 0
	top: 0
	height: 100%
	background-color: $grey
	font-weight: 600
	padding-top: 90px
	text-transform: uppercase
	width: 199px
	z-index: 999
	box-shadow: inset -1px 0 0 lighten($orange, 20%)
	+tablet-m
		display: none
	a
		color: #FFF
		display: block
		padding: 10px 35px 10px 20px
		&:hover
			color: $orange
			background-color: rgba(255,255,255,0.05)


//primarynav
.primarynav
	[class^="icon-"], [class*=" icon-"]
		position: relative
		top: 3px
		font-size: 20px
		padding-right: 10px

	.icon-chevron-right
		transform: rotate(180deg)
		display: inline-block
		padding: 0

	li
		position: relative
		border-bottom: 1px solid rgba(255,255,255,0.05)
		&.current-menu-item:after
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 3px
			height: 100%
			background-color: $orange
		&.current-menu-item a
			background-color: rgba(255,255,255,0.05)

//submenu
.primarynav__submenu
	display: none
	margin: 0
	padding: 0
	font-size: 12px

	[class^="icon-"], [class*=" icon-"]
		font-size: 16px

	a
		padding-left: 30px
		padding: 9px 20px 9px 30px
